/* line 2, ../sass/base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../sass/base.scss */
html {
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
}

/* line 26, ../sass/base.scss */
body, h1, h2, h3, p, dl, dd, ol, ul, th, td, form, fieldset, input, button, textarea {
  margin: 0;
  padding: 0;
}

/* line 31, ../sass/base.scss */
h1, h2, h3 {
  font-size: 100%;
}

/* line 34, ../sass/base.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: inherit;
}

/* line 43, ../sass/base.scss */
fieldset, img {
  border: 0;
}

/* line 46, ../sass/base.scss */
cite, em, s, i, b {
  font-style: normal;
}

/* line 49, ../sass/base.scss */
input, button, textarea, select {
  font-size: 100%;
}

/* line 52, ../sass/base.scss */
body, input, button, textarea, select, option {
  font-size: normal;
}

/* line 55, ../sass/base.scss */
a, input, textarea {
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

/* line 60, ../sass/base.scss */
li, img, label, input {
  vertical-align: middle;
}

/* line 63, ../sass/base.scss */
var {
  font-style: normal;
}

/* line 67, ../sass/base.scss */
ins {
  text-decoration: none;
}

/* line 71, ../sass/base.scss */
body {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
  color: #3f3f3f;
  background: #f7efeb;
}

/* line 77, ../sass/base.scss */
input[type="text"], input[type="password"], div, ul, li, input, a, textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
}

/* line 78, ../sass/base.scss */
input {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}

/* line 79, ../sass/base.scss */
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* line 81, ../sass/base.scss */
.clearfix {
  zoom: 1;
}

/* for IE6 IE7 */
/* line 83, ../sass/base.scss */
a:link,
a:visited {
  text-decoration: none;
  color: #3f3f3f;
}

/* a:active,
a:hover{
  color: #3f3f3f;
} */
/* line 94, ../sass/base.scss */
.sunn-wrapper {
  width: 100%;
}
