.fresh-04 {
  background: #fff; }
  .fresh-04 .iradio,
  .fresh-04 .icheckbox {
    background-image: url("../../images/fresh04/iradio.png"); }
  .fresh-04 .text-field {
    border-color: #cccccc; }
  .fresh-04 .submit-field {
    background-color: #97c8d6;
    color: #ffffff; }
  .fresh-04 .no-data span {
    color: #3f3f3f; }
  .fresh-04 #header {
    background-color: #97c8d6;
    color: #ffffff; }
    .fresh-04 #header .left .go-back {
      background: url("../../images/fresh04/back_arrow.png") left center/3em 5em no-repeat; }
    .fresh-04 #header .center #search-form .keyword-field {
      border-color: #e8e8e8;
      color: #888888; }
    .fresh-04 #header .center #search-form .submit {
      background: url("../../images/fresh04/search_bt_bg.png") center center/4em 4em no-repeat transparent; }
    .fresh-04 #header .right .icon-menu {
      background: transparent center center / 100% 100% no-repeat; }
    .fresh-04 #header .right .dropdown-menu-wrapper {
      background-color: #97c8d6; }
      .fresh-04 #header .right .dropdown-menu-wrapper .up-arrow {
        background: url("../../images/fresh04/up_arrow_1.png") center center/2.2em 1.7em no-repeat; }
      .fresh-04 #header .right .dropdown-menu-wrapper li.share {
        background: url("../../images/fresh04/share_icon.png") left center/4em 4em no-repeat; }
      .fresh-04 #header .right .dropdown-menu-wrapper li.home {
        background: url("../../images/fresh04/home_icon.png") left center/4em 4em no-repeat; }
      .fresh-04 #header .right .dropdown-menu-wrapper li a {
        color: #ffffff; }
    .fresh-04 #header .right .new-address {
      background-image: url("../../images/fresh04/new_addr_icon.png"); }
    .fresh-04 #header .right .categories {
      background-image: url("../../images/fresh04/cat_icon.png"); }
    .fresh-04 #header .right .links-toggle-button {
      background-image: url("../../images/fresh04/menu_icon.png"); }
    .fresh-04 #header .right .home {
      background-image: url("../../images/fresh04/home_icon_1.png"); }
    .fresh-04 #header .right .shopping-cart {
      background-image: url("../../images/fresh04/cart_icon.png"); }
  .fresh-04 #main-content .top-menu {
    background-color: #fafaf7;
    border-bottom-color: #d7d7d7; }
    .fresh-04 #main-content .top-menu ul li a {
      color: #bababa; }
      .fresh-04 #main-content .top-menu ul li a.active {
        color: #97c8d6;
        border-bottom-color: #97c8d6; }
  .fresh-04 #main-content .product-param-wrapper {
    background-color: #ffffff; }
    .fresh-04 #main-content .product-param-wrapper li {
      border-bottom-color: #cccccc; }
      .fresh-04 #main-content .product-param-wrapper li:last-child {
        border-bottom: none; }
      .fresh-04 #main-content .product-param-wrapper li .param-name, .fresh-04 #main-content .product-param-wrapper li .param-value {
        color: #3f3f3f; }
  .fresh-04 #main-content .product-detail {
    color: #3f3f3f; }
  .fresh-04 #main-content .slideshow-wrapper .owl-controls {
    background: url("../../images/fresh04/grey_bg.png") 0 0 repeat; }
    .fresh-04 #main-content .slideshow-wrapper .owl-controls .owl-pagination .owl-page {
      border-color: #fff; }
      .fresh-04 #main-content .slideshow-wrapper .owl-controls .owl-pagination .owl-page.active {
        background-color: #fff; }
  .fresh-04 #main-content .filter-bar-wrapper {
    background-color: #ffffff; }
    .fresh-04 #main-content .filter-bar-wrapper .filters li a {
      color: #888888; }
    .fresh-04 #main-content .filter-bar-wrapper .theme-switcher li span {
      color: #3f3f3f;
      background: url("../../images/fresh04/theme_switcher.png") left top/6.9em 3.14em no-repeat; }
      .fresh-04 #main-content .filter-bar-wrapper .theme-switcher li span.two-col {
        background-position: left top; }
        .fresh-04 #main-content .filter-bar-wrapper .theme-switcher li span.two-col.active {
          background-position: left bottom; }
      .fresh-04 #main-content .filter-bar-wrapper .theme-switcher li span.one-col {
        background-position: -2.64em top; }
        .fresh-04 #main-content .filter-bar-wrapper .theme-switcher li span.one-col.active {
          background-position: -2.64em bottom; }
      .fresh-04 #main-content .filter-bar-wrapper .theme-switcher li span.image {
        background-position: right top; }
        .fresh-04 #main-content .filter-bar-wrapper .theme-switcher li span.image.active {
          background-position: right bottom; }
  .fresh-04 #main-content .product-categories {
    background-color: #ffffff; }
    .fresh-04 #main-content .product-categories .left {
      background-color: #ffffff; }
      .fresh-04 #main-content .product-categories .left li {
        border-right-color: #cccccc;
        border-bottom-color: #cccccc; }
        .fresh-04 #main-content .product-categories .left li.active {
          background-color: #fff;
          border-left-color: #97c8d6;
          border-right-color: transparent; }
          .fresh-04 #main-content .product-categories .left li.active a {
            color: #97c8d6; }
        .fresh-04 #main-content .product-categories .left li a {
          color: #3f3f3f; }
    .fresh-04 #main-content .product-categories .right {
      background-color: #fff; }
      .fresh-04 #main-content .product-categories .right .section-title {
        color: #3f3f3f; }
      .fresh-04 #main-content .product-categories .right .list-wrapper li span {
        color: #3f3f3f; }
      .fresh-04 #main-content .product-categories .right .brands-list li img {
        border-color: #cccccc; }
  .fresh-04 #main-content .products-list.two-col .product {
    border-color: #cccccc;
    background-color: #ffffff; }
    .fresh-04 #main-content .products-list.two-col .product .prod-name a {
      color: #3f3f3f; }
    .fresh-04 #main-content .products-list.two-col .product .prod-par-price span {
      color: #888888; }
    .fresh-04 #main-content .products-list.two-col .product .prod-sale-price {
      color: #97c8d6; }
    .fresh-04 #main-content .products-list.two-col .product .prod-sales-count span {
      color: #888888; }
  .fresh-04 #main-content .products-list.one-col {
    background-color: #ffffff; }
    .fresh-04 #main-content .products-list.one-col .product {
      border-bottom-color: #cccccc; }
      .fresh-04 #main-content .products-list.one-col .product .prod-name a {
        color: #3f3f3f; }
      .fresh-04 #main-content .products-list.one-col .product .prod-par-price span {
        color: #888888; }
      .fresh-04 #main-content .products-list.one-col .product .prod-sale-price span {
        color: #97c8d6; }
      .fresh-04 #main-content .products-list.one-col .product .prod-sales-count span {
        color: #888888; }
  .fresh-04 #main-content .products-list.image .product {
    border-color: #cccccc; }
    .fresh-04 #main-content .products-list.image .product .prod-img {
      background-color: #ffffff; }
    .fresh-04 #main-content .products-list.image .product .prod-name a {
      color: #3f3f3f; }
    .fresh-04 #main-content .products-list.image .product .prod-par-price span {
      color: #888888; }
    .fresh-04 #main-content .products-list.image .product .prod-sale-price span {
      color: #97c8d6; }
    .fresh-04 #main-content .products-list.image .product .prod-sales-count span {
      color: #888888; }
  .fresh-04 #main-content .product-base-info, .fresh-04 #main-content .product-comments {
    background-color: #ffffff;
    border-bottom-color: #cccccc; }
    .fresh-04 #main-content .product-base-info .top .prod-name, .fresh-04 #main-content .product-comments .top .prod-name {
      border-right-color: #e8e8e8; }
      .fresh-04 #main-content .product-base-info .top .prod-name a, .fresh-04 #main-content .product-comments .top .prod-name a {
        color: #3f3f3f; }
    .fresh-04 #main-content .product-base-info .top .collect-button, .fresh-04 #main-content .product-comments .top .collect-button {
      color: #888888; }
      .fresh-04 #main-content .product-base-info .top .collect-button span.collect-icon, .fresh-04 #main-content .product-comments .top .collect-button span.collect-icon {
        background: url("../../images/fresh04/comment_star.png") right top/8.1em 3.6em no-repeat; }
      .fresh-04 #main-content .product-base-info .top .collect-button span.collect-text .collected, .fresh-04 #main-content .product-comments .top .collect-button span.collect-text .collected {
        display: none; }
      .fresh-04 #main-content .product-base-info .top .collect-button.collected span.collect-icon, .fresh-04 #main-content .product-comments .top .collect-button.collected span.collect-icon {
        background-position: left top; }
      .fresh-04 #main-content .product-base-info .top .collect-button.collected span.collect-text .collected, .fresh-04 #main-content .product-comments .top .collect-button.collected span.collect-text .collected {
        display: inline; }
    .fresh-04 #main-content .product-base-info .middle, .fresh-04 #main-content .product-comments .middle {
      border-bottom-color: #cccccc; }
      .fresh-04 #main-content .product-base-info .middle .sale-price-wrapper .prod-sale-price span, .fresh-04 #main-content .product-comments .middle .sale-price-wrapper .prod-sale-price span {
        color: #97c8d6; }
      .fresh-04 #main-content .product-base-info .middle .sale-price-wrapper .activity, .fresh-04 #main-content .product-comments .middle .sale-price-wrapper .activity {
        background-color: #97c8d6; }
        .fresh-04 #main-content .product-base-info .middle .sale-price-wrapper .activity span, .fresh-04 #main-content .product-comments .middle .sale-price-wrapper .activity span {
          color: #ffffff; }
      .fresh-04 #main-content .product-base-info .middle .par-price-wrapper, .fresh-04 #main-content .product-comments .middle .par-price-wrapper {
        color: #888888; }
        .fresh-04 #main-content .product-base-info .middle .par-price-wrapper .prod-par-price, .fresh-04 #main-content .product-comments .middle .par-price-wrapper .prod-par-price {
          border-right-color: #e8e8e8; }
      .fresh-04 #main-content .product-base-info .middle .express-price, .fresh-04 #main-content .product-comments .middle .express-price {
        color: #888888; }
    .fresh-04 #main-content .product-base-info .bottom, .fresh-04 #main-content .product-comments .bottom {
      border-bottom-color: #cccccc; }
      .fresh-04 #main-content .product-base-info .bottom .label, .fresh-04 #main-content .product-comments .bottom .label {
        color: #3f3f3f; }
      .fresh-04 #main-content .product-base-info .bottom .services-list li, .fresh-04 #main-content .product-comments .bottom .services-list li {
        color: #888888; }
    .fresh-04 #main-content .product-base-info .select-attributes, .fresh-04 #main-content .product-comments .select-attributes {
      background: url("../../images/fresh04/right_arrow.png") right center/2em 3em no-repeat; }
      .fresh-04 #main-content .product-base-info .select-attributes span, .fresh-04 #main-content .product-comments .select-attributes span {
        color: #3f3f3f; }
    .fresh-04 #main-content .product-base-info .more-detail, .fresh-04 #main-content .product-comments .more-detail {
      border-top-color: #cccccc; }
      .fresh-04 #main-content .product-base-info .more-detail a, .fresh-04 #main-content .product-comments .more-detail a {
        color: #3f3f3f; }
  .fresh-04 #main-content .product-comments .comments-info {
    border-bottom-color: #cccccc; }
    .fresh-04 #main-content .product-comments .comments-info .comments-count {
      color: #3f3f3f; }
  .fresh-04 #main-content .product-comments .comments-avg-start .five-star li {
    background: url("../../images/fresh04/comment_star.png") right center/8.1em 3.6em no-repeat; }
    .fresh-04 #main-content .product-comments .comments-avg-start .five-star li.active {
      background-position: left center; }
  .fresh-04 #main-content .product-comments .comment {
    border-bottom-color: #cccccc; }
    .fresh-04 #main-content .product-comments .comment .comment-user .user-name {
      color: #3f3f3f; }
    .fresh-04 #main-content .product-comments .comment .comment-detail span {
      color: #bababa; }
    .fresh-04 #main-content .product-comments .comment .comment-time,
    .fresh-04 #main-content .product-comments .comment .comment-prod-attr {
      color: #888888; }
  .fresh-04 #main-content .product-comments .comments-view-more a {
    color: #3f3f3f; }
  .fresh-04 #main-content .comments-list .comment {
    border-bottom-color: #cccccc; }
    .fresh-04 #main-content .comments-list .comment .comment-time {
      color: #3f3f3f; }
    .fresh-04 #main-content .comments-list .comment .comment-text {
      color: #888888; }
    .fresh-04 #main-content .comments-list .comment .comment-relate-product {
      background-color: #ffffff; }
      .fresh-04 #main-content .comments-list .comment .comment-relate-product .prod-name {
        color: #3f3f3f; }
      .fresh-04 #main-content .comments-list .comment .comment-relate-product .prod-sale-price {
        color: #97c8d6; }
    .fresh-04 #main-content .comments-list .comment .comment-reply {
      font-size: 2.6em;
      color: #888888; }
      .fresh-04 #main-content .comments-list .comment .comment-reply span.user-name {
        color: #3f3f3f; }
  .fresh-04 #main-content .comments-new .product-comment {
    border-bottom-color: #cccccc; }
    .fresh-04 #main-content .comments-new .product-comment .product .prod-img {
      border-color: #cccccc; }
    .fresh-04 #main-content .comments-new .product-comment .product .prod-name span {
      color: #3f3f3f; }
    .fresh-04 #main-content .comments-new .product-comment .comment .five-star-wrapper label span {
      color: #3f3f3f; }
    .fresh-04 #main-content .comments-new .product-comment .comment .five-star-wrapper .five-star li {
      background: url("../../images/fresh04/comment_star.png") right center/8.1em 3.6em no-repeat; }
      .fresh-04 #main-content .comments-new .product-comment .comment .five-star-wrapper .five-star li.active {
        background-position: left center; }
    .fresh-04 #main-content .comments-new .product-comment .comment .comment-text-field-wrapper {
      border-color: #cccccc;
      background-color: #ffffff; }
      .fresh-04 #main-content .comments-new .product-comment .comment .comment-text-field-wrapper .comment-text-field {
        border: none;
        color: #888888;
        resize: none; }
    .fresh-04 #main-content .comments-new .product-comment .comment .comment-images-wrapper .img-block {
      border-color: #e8e8e8; }
      .fresh-04 #main-content .comments-new .product-comment .comment .comment-images-wrapper .img-block.add-img {
        background: url("../../images/fresh04/add_img_bt_bg.png") center center/2.4em no-repeat;
        border-color: #3f3f3f; }
  .fresh-04 #main-content .order {
    background-color: #ffffff;
    border-top-color: #cccccc;
    border-bottom-color: #cccccc; }
    .fresh-04 #main-content .order .order-top, .fresh-04 #main-content .order .order-products-list .order-product, .fresh-04 #main-content .order .order-bottom {
      border-bottom-color: #fff; }
      .fresh-04 #main-content .order .order-top .order-sn, .fresh-04 #main-content .order .order-products-list .order-product .order-sn, .fresh-04 #main-content .order .order-bottom .order-sn {
        color: #3f3f3f; }
        .fresh-04 #main-content .order .order-top .order-sn a, .fresh-04 #main-content .order .order-products-list .order-product .order-sn a, .fresh-04 #main-content .order .order-bottom .order-sn a {
          color: #3f3f3f; }
      .fresh-04 #main-content .order .order-top .order-status, .fresh-04 #main-content .order .order-products-list .order-product .order-status, .fresh-04 #main-content .order .order-bottom .order-status {
        color: #97c8d6; }
    .fresh-04 #main-content .order .order-products-list .order-product .center .prod-title a {
      color: #3f3f3f; }
    .fresh-04 #main-content .order .order-products-list .order-product .center .prod-attrs span {
      color: #bababa; }
    .fresh-04 #main-content .order .order-products-list .order-product .right .prod-sale-price span {
      color: #97c8d6; }
    .fresh-04 #main-content .order .order-products-list .order-product .right .prod-num span {
      color: #888888; }
    .fresh-04 #main-content .order .order-bottom ul li {
      color: #bababa; }
      .fresh-04 #main-content .order .order-bottom ul li span {
        color: #97c8d6; }
    .fresh-04 #main-content .order .order-actions-inner .order-action {
      color: #bababa;
      border-color: #97c8d6; }
      .fresh-04 #main-content .order .order-actions-inner .order-action:hover, .fresh-04 #main-content .order .order-actions-inner .order-action:active {
        background-color: #97c8d6;
        color: #ffffff; }
  .fresh-04 #main-content .order-detail .order-base-info {
    background-color: #fff;
    color: #bababa; }
  .fresh-04 #main-content .order-detail .order-more-wrapper {
    border-bottom-color: #cccccc;
    background-color: #ffffff; }
    .fresh-04 #main-content .order-detail .order-more-wrapper .receiver-info .receiver-name {
      color: #bababa; }
    .fresh-04 #main-content .order-detail .order-more-wrapper .receiver-info .receiver-address {
      color: #bababa; }
    .fresh-04 #main-content .order-detail .order-more-wrapper .order-detail-info {
      display: none; }
      .fresh-04 #main-content .order-detail .order-more-wrapper .order-detail-info ul {
        border-top-color: #cccccc; }
        .fresh-04 #main-content .order-detail .order-more-wrapper .order-detail-info ul li {
          color: #bababa; }
    .fresh-04 #main-content .order-detail .order-more-wrapper .toggle-button {
      border-top-color: #cccccc;
      color: #bababa; }
  .fresh-04 #main-content .order-detail .order-other-info {
    background-color: #ffffff; }
    .fresh-04 #main-content .order-detail .order-other-info .order-message, .fresh-04 #main-content .order-detail .order-other-info .order-logistics {
      border-bottom-color: #cccccc; }
      .fresh-04 #main-content .order-detail .order-other-info .order-message .label, .fresh-04 #main-content .order-detail .order-other-info .order-logistics .label {
        color: #3f3f3f; }
      .fresh-04 #main-content .order-detail .order-other-info .order-message .message-detail, .fresh-04 #main-content .order-detail .order-other-info .order-logistics .message-detail {
        color: #888888; }
    .fresh-04 #main-content .order-detail .order-other-info .logistics-detail ul {
      border-left-color: #e8e8e8; }
      .fresh-04 #main-content .order-detail .order-other-info .logistics-detail ul li {
        color: #3f3f3f;
        background: url("../../images/fresh04/grey_icon.png") left top/3em 3em no-repeat; }
        .fresh-04 #main-content .order-detail .order-other-info .logistics-detail ul li:first-child {
          background: url("../../images/fresh04/blue_icon.png") left top/3em 3em no-repeat;
          color: #97c8d6; }
  .fresh-04 #main-content .user-addresses .address-wrapper {
    border-top-color: #cccccc;
    background-color: #ffffff; }
    .fresh-04 #main-content .user-addresses .address-wrapper label {
      color: #bababa; }
    .fresh-04 #main-content .user-addresses .address-wrapper label.checked {
      color: #97c8d6; }
    .fresh-04 #main-content .user-addresses .address-wrapper .address-actions a {
      color: #bababa; }
    .fresh-04 #main-content .user-addresses .address-wrapper .address-actions .edit-addr {
      background: url("../../images/fresh04/edit_addr_icon.png") left center/3em 3em no-repeat; }
    .fresh-04 #main-content .user-addresses .address-wrapper .address-actions .delete-addr {
      background: url("../../images/fresh04/delete_addr_icon.png") left center/3em 3em no-repeat; }
    .fresh-04 #main-content .user-addresses .address-wrapper .bottom {
      border-top-color: #e8e8e8;
      color: #bababa; }
  .fresh-04 #main-content .new-address-wrapper .block {
    border-top-color: #cccccc;
    border-bottom-color: #cccccc;
    background-color: #ffffff; }
    .fresh-04 #main-content .new-address-wrapper .block .field-wrapper {
      border-bottom-color: #e8e8e8; }
      .fresh-04 #main-content .new-address-wrapper .block .field-wrapper input {
        color: #bababa; }
        .fresh-04 #main-content .new-address-wrapper .block .field-wrapper input.address-field {
          color: #3f3f3f; }
      .fresh-04 #main-content .new-address-wrapper .block .field-wrapper ul li select {
        border-color: #e8e8e8;
        color: #bababa; }
  .fresh-04 #main-content .profile-index .user-info-wrapper {
    background: url("../../images/fresh04/user_info_bg.png") center center/100% 100% no-repeat; }
    .fresh-04 #main-content .profile-index .user-info-wrapper .user-icon img {
      border-color: #e8e8e8; }
    .fresh-04 #main-content .profile-index .user-info-wrapper .user-info {
      color: #ffffff; }
    .fresh-04 #main-content .profile-index .user-info-wrapper .user-info-detail {
      color: #ffffff;
      background-color: transparent; }
    .fresh-04 #main-content .profile-index .user-info-wrapper .login-button a {
      color: #97c8d6;
      background-color: #ffffff; }
  .fresh-04 #main-content .profile-index .top-menu {
    background-color: #ffffff;
    border-bottom-color: #cccccc; }
    .fresh-04 #main-content .profile-index .top-menu li a {
      background: url("../../images/fresh04/waitingpay.png") center 2em/4em 4em no-repeat; }
      .fresh-04 #main-content .profile-index .top-menu li a.waiting-receive {
        background-image: url("../../images/fresh04/waitingrecive.png");
        background-size: 5.2em 4em; }
      .fresh-04 #main-content .profile-index .top-menu li a.after-sales {
        background-image: url("../../images/fresh04/aftersales.png"); }
      .fresh-04 #main-content .profile-index .top-menu li a .text {
        color: #888888; }
      .fresh-04 #main-content .profile-index .top-menu li a .num {
        background-color: #ffac9e;
        color: #ffffff; }
  .fresh-04 #main-content .profile-index .sub-menu {
    border-top-color: #cccccc;
    border-bottom-color: #cccccc;
    background-color: #ffffff; }
    .fresh-04 #main-content .profile-index .sub-menu li {
      border-bottom-color: #e8e8e8;
      background: url("../../images/fresh04/right_arrow.png") right center/2em 3em no-repeat; }
      .fresh-04 #main-content .profile-index .sub-menu li:last-child {
        border-bottom: none; }
      .fresh-04 #main-content .profile-index .sub-menu li a {
        color: #888888;
        background: url("../../images/fresh04/menu_order.png") left center/3em 3em no-repeat; }
        .fresh-04 #main-content .profile-index .sub-menu li a.my-collects {
          background: url("../../images/fresh04/menu_collect.png") left center/3em 3em no-repeat; }
        .fresh-04 #main-content .profile-index .sub-menu li a.shopping-cart {
          background: url("../../images/fresh04/menu_cart.png") left center/3em 3em no-repeat; }
        .fresh-04 #main-content .profile-index .sub-menu li a.message {
          background: url("../../images/fresh04/menu_message.png") left center/3em 3em no-repeat; }
        .fresh-04 #main-content .profile-index .sub-menu li a.address {
          background: url("../../images/fresh04/menu_address.png") left center/3em 3em no-repeat; }
        .fresh-04 #main-content .profile-index .sub-menu li a.coupon {
          background: url("../../images/fresh04/menu_preferential.png") left center/3em 3em no-repeat; }
        .fresh-04 #main-content .profile-index .sub-menu li a.about-us {
          background: url("../../images/fresh04/menu_about.png") left center/3em 3em no-repeat; }
        .fresh-04 #main-content .profile-index .sub-menu li a.shopping-cart {
          background: url("../../images/fresh04/menu_cart.png") left center/3em 3em no-repeat; }
        .fresh-04 #main-content .profile-index .sub-menu li a.after-sales {
          background: url("../../images/fresh04/menu_aftersales.png") left center/3em 3em no-repeat; }
  .fresh-04 #main-content .profile-detail .user-detail-wrapper p.upload-picture-tip {
    color: #cacac9; }
  .fresh-04 #main-content .profile-detail .user-detail-wrapper .user-detail {
    border-top-color: #cccccc;
    border-bottom-color: #cccccc;
    background-color: #ffffff; }
    .fresh-04 #main-content .profile-detail .user-detail-wrapper .user-detail li {
      border-bottom-color: #e8e8e8;
      background: url("../../images/fresh04/right_arrow.png") right center/2em 3em no-repeat; }
      .fresh-04 #main-content .profile-detail .user-detail-wrapper .user-detail li:last-child {
        border-bottom: none; }
      .fresh-04 #main-content .profile-detail .user-detail-wrapper .user-detail li .label {
        color: #3f3f3f; }
      .fresh-04 #main-content .profile-detail .user-detail-wrapper .user-detail li .value {
        color: #888888; }
        .fresh-04 #main-content .profile-detail .user-detail-wrapper .user-detail li .value span {
          color: #97c8d6; }
  .fresh-04 #main-content .change-password-form .field-wrapper {
    border-color: #cccccc;
    background: #ffffff; }
    .fresh-04 #main-content .change-password-form .field-wrapper .password-field {
      border-bottom-color: #e8e8e8; }
    .fresh-04 #main-content .change-password-form .field-wrapper .password-field:last-child {
      border-bottom: 0; }
  .fresh-04 #main-content .change-phone .current-phone {
    color: #3f3f3f; }
  .fresh-04 #main-content .change-phone .get-code-button {
    color: #ffffff;
    background-color: #97c8d6; }
  .fresh-04 #main-content .user-level .level-info table td.first, .fresh-04 #main-content .user-level .level-info table td.last {
    color: #97c8d6; }
  .fresh-04 #main-content .user-level .level-info table td.second .level-bar-bg {
    background-color: #97c8d6; }
    .fresh-04 #main-content .user-level .level-info table td.second .level-bar-bg .level-bar {
      background-color: #97c8d6;
      color: #ffffff; }
  .fresh-04 #main-content .user-level .level-info table td.second .left {
    color: #bababa; }
  .fresh-04 #main-content .user-level .level-info table td.second .right {
    color: #bababa; }
  .fresh-04 #main-content .user-level .level-detail {
    background-color: #ffffff;
    color: #888888; }
    .fresh-04 #main-content .user-level .level-detail table th {
      border-top-color: #e8e8e8;
      color: #3f3f3f; }
    .fresh-04 #main-content .user-level .level-detail table th, .fresh-04 #main-content .user-level .level-detail table td {
      border-right-color: #e8e8e8;
      border-bottom-color: #e8e8e8; }
      .fresh-04 #main-content .user-level .level-detail table th:last-child, .fresh-04 #main-content .user-level .level-detail table td:last-child {
        border-right: none; }
  .fresh-04 #main-content .collects-list .collects-product {
    border-bottom-color: #cccccc; }
    .fresh-04 #main-content .collects-list .collects-product .left {
      border-color: #cccccc; }
    .fresh-04 #main-content .collects-list .collects-product .center .prod-title a {
      color: #3f3f3f; }
    .fresh-04 #main-content .collects-list .collects-product .center .prod-sale-price span {
      color: #97c8d6; }
    .fresh-04 #main-content .collects-list .collects-product .right {
      color: #bababa; }
      .fresh-04 #main-content .collects-list .collects-product .right .delete-collect {
        background: url("../../images/fresh04/delete_addr_icon.png") center center/100% 100% no-repeat; }
  .fresh-04 #main-content .shopping-cart .products-list .product {
    border-top-color: #cccccc;
    border-bottom-color: #cccccc;
    background-color: #ffffff; }
    .fresh-04 #main-content .shopping-cart .products-list .product .left {
      border-color: #cccccc; }
    .fresh-04 #main-content .shopping-cart .products-list .product .center .prod-title a {
      color: #3f3f3f; }
    .fresh-04 #main-content .shopping-cart .products-list .product .center .prod-attribute span {
      color: #888888; }
    .fresh-04 #main-content .shopping-cart .products-list .product .right .prod-sale-price span {
      color: #97c8d6; }
    .fresh-04 #main-content .shopping-cart .products-list .product .right .prod-par-price span {
      color: #888888; }
    .fresh-04 #main-content .shopping-cart .products-list .product .right .delete-collect {
      background: url("../../images/fresh04/delete_addr_icon.png") center center/100% 100% no-repeat; }
      .fresh-04 #main-content .shopping-cart .products-list .product .right .delete-collect.deleting {
        background-image: url("../../images/fresh04/loading.gif"); }
    .fresh-04 #main-content .shopping-cart .products-list .product .bottom {
      border-top-color: #cccccc; }
      .fresh-04 #main-content .shopping-cart .products-list .product .bottom .label {
        color: #888888; }
      .fresh-04 #main-content .shopping-cart .products-list .product .bottom .buy-count-form input {
        color: #3f3f3f;
        border-color: #cccccc; }
      .fresh-04 #main-content .shopping-cart .products-list .product .bottom .buy-count-form span {
        border-color: #cccccc;
        color: #3f3f3f; }
  .fresh-04 #main-content .user-login .fields-group {
    background-color: #ffffff;
    border-color: #cccccc; }
    .fresh-04 #main-content .user-login .fields-group .text-field {
      /*border: none;*/ }
      .fresh-04 #main-content .user-login .fields-group .text-field.phone-field {
        border-bottom-color: #e8e8e8; }
  .fresh-04 #main-content .user-login .forget-password span {
    color: #888888; }
  .fresh-04 #main-content .user-login .register-link a {
    color: #888888; }
  .fresh-04 #main-content .user-login .social-login .title-wrapper {
    background: url("../../images/fresh04/title_wrapper_bg.png") left center repeat-x; }
    .fresh-04 #main-content .user-login .social-login .title-wrapper span {
      background: #fff;
      color: #888888; }
  .fresh-04 #main-content .user-login .social-login ul li a {
    background-color: #97c8d6; }
  .fresh-04 #main-content .user-login .social-login ul li:first-child a {
    background-color: #60a6e2; }
  .fresh-04 #main-content .user-login .social-login ul li:nth-child(2) a {
    background-color: #3ab943; }
  .fresh-04 #main-content .user-login .social-login ul li:last-child a {
    background-color: #ff5757; }
  .fresh-04 #main-content .user-register .field-wrapper .label span {
    color: #3f3f3f; }
  .fresh-04 #main-content .user-register .field-wrapper.term-field span.term {
    color: #3f3f3f; }
    .fresh-04 #main-content .user-register .field-wrapper.term-field span.term a {
      color: #fa95b2; }
  .fresh-04 #main-content .user-register .field-wrapper .toggle-password-text {
    background: url("../../images/fresh04/eye_icon.png") center center/4.4em 2.2em no-repeat; }
  .fresh-04 #main-content .user-register .field-wrapper .text-field {
    border-color: #cccccc; }
  .fresh-04 #main-content .user-register .field-wrapper .get-code-button {
    border-color: #cccccc;
    color: #ffffff;
    background-color: #97c8d6; }
  .fresh-04 #main-content .checkout .textarea-wrapper {
    border-color: #cccccc; }
    .fresh-04 #main-content .checkout .textarea-wrapper textarea {
      color: #888888; }
  .fresh-04 #main-content .checkout .block-wrapper {
    border-top-color: #cccccc;
    border-bottom-color: #cccccc;
    background-color: #ffffff;
    color: #888888; }
    .fresh-04 #main-content .checkout .block-wrapper .label {
      color: #3f3f3f; }
  .fresh-04 #main-content .checkout .order-address .address-detail {
    background: url("../../images/fresh04/right_arrow.png") right center/2em 3em no-repeat; }
  .fresh-04 #main-content .checkout .payment-method .top {
    border-bottom-color: #e8e8e8; }
    .fresh-04 #main-content .checkout .payment-method .top .other-payment {
      background: url("../../images/fresh04/right_arrow.png") right center/2em 3em no-repeat; }
      .fresh-04 #main-content .checkout .payment-method .top .other-payment span {
        font-size: 3em;
        color: #97c8d6; }
  .fresh-04 #main-content .checkout .payment-method table {
    width: 100%; }
    .fresh-04 #main-content .checkout .payment-method table tr:last-child td {
      border-bottom: none; }
    .fresh-04 #main-content .checkout .payment-method table tr td {
      border-bottom-color: #e8e8e8; }
  .fresh-04 #main-content .checkout .invoice-wrapper .icheckbox {
    background-image: url("../../images/fresh04/icheckbox.png"); }
  .fresh-04 #main-content .checkout .invoice-wrapper table {
    border-top-color: #e8e8e8;
    border-bottom-color: #e8e8e8; }
    .fresh-04 #main-content .checkout .invoice-wrapper table td:first-child {
      border-right-color: #e8e8e8; }
  .fresh-04 #main-content .addresses-list .order-address.active {
    background-color: #97c8d6;
    color: #ffffff; }
  .fresh-04 #main-content .addresses-list .order-address .address-detail {
    background: none;
    padding-right: 0; }
  .fresh-04 #main-content .about_us_wrapper {
    width: 100%;
    background: #fff; }
    .fresh-04 #main-content .about_us_wrapper .about-content {
      color: #bababa; }
    .fresh-04 #main-content .about_us_wrapper .copy-right {
      color: #bababa; }
  .fresh-04 #main-content .sale_service_wrapper ul {
    color: #3f3f3f; }
  .fresh-04 #addresses-list-wrapper {
    background: url("../../images/fresh04/body_bg.png") repeat #edebde;
    background: #fff; }
  .fresh-04 #product-attr-select-form-bg {
    background: url("../../images/fresh04/grey_bg.png") 0 0 repeat; }
    .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper {
      background-color: #ffffff; }
      .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #close-form-button {
        background: url("../../images/fresh04/close_icon.png") center center/5em 5em no-repeat; }
      .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper .product-base-info, .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #main-content .product-comments, .fresh-04 #main-content #product-attr-select-form-bg #product-attr-select-form-wrapper .product-comments {
        background-color: #ffffff;
        border-bottom-color: #cccccc; }
        .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper .product-base-info .prod-price span, .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #main-content .product-comments .prod-price span, .fresh-04 #main-content #product-attr-select-form-bg #product-attr-select-form-wrapper .product-comments .prod-price span {
          color: #97c8d6; }
          .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper .product-base-info .prod-price span.prod-stock, .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #main-content .product-comments .prod-price span.prod-stock, .fresh-04 #main-content #product-attr-select-form-bg #product-attr-select-form-wrapper .product-comments .prod-price span.prod-stock {
            color: #3f3f3f; }
        .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper .product-base-info .prod-selected-attr span, .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #main-content .product-comments .prod-selected-attr span, .fresh-04 #main-content #product-attr-select-form-bg #product-attr-select-form-wrapper .product-comments .prod-selected-attr span {
          color: #3f3f3f; }
      .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes .attribute, .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes #product-buy-count {
        border-bottom-color: #cccccc; }
        .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes .attribute .attr-name, .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes #product-buy-count .attr-name {
          color: #3f3f3f; }
        .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes .attribute .attr-list li, .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes #product-buy-count .attr-list li {
          border-color: #cccccc; }
          .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes .attribute .attr-list li span, .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes #product-buy-count .attr-list li span {
            color: #3f3f3f; }
          .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes .attribute .attr-list li.selected, .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes #product-buy-count .attr-list li.selected {
            background-color: #97c8d6; }
            .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes .attribute .attr-list li.selected span, .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes #product-buy-count .attr-list li.selected span {
              color: #ffffff; }
          .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes .attribute .attr-list li.disabled, .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes #product-buy-count .attr-list li.disabled {
            background: #eee;
            border-color: #e8e8e8; }
            .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes .attribute .attr-list li.disabled span, .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes #product-buy-count .attr-list li.disabled span {
              color: #888888; }
      .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes #product-buy-count label {
        color: #3f3f3f; }
      .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes #product-buy-count .buy-count-form input {
        color: #3f3f3f;
        border-color: #cccccc; }
      .fresh-04 #product-attr-select-form-bg #product-attr-select-form-wrapper #product-attributes #product-buy-count .buy-count-form span {
        color: #3f3f3f;
        border-color: #cccccc; }
  .fresh-04 #footer {
    border-top-color: #cccccc;
    background-color: #ffffff; }
    .fresh-04 #footer .shopping-cart-base {
      background: url("../../images/fresh04/shopping_cart.png") center center/4.4em 4.4em no-repeat; }
      .fresh-04 #footer .shopping-cart-base span.cart-prod-num {
        background-color: #ffac9e;
        color: #ffffff; }
    .fresh-04 #footer .buy-button {
      background-color: #97c8d6; }
      .fresh-04 #footer .buy-button span {
        color: #ffffff; }
    .fresh-04 #footer .add-to-cart-button, .fresh-04 #footer .submit-button {
      background-color: #ffac9e; }
    .fresh-04 #footer .total-price {
      color: #888888; }
      .fresh-04 #footer .total-price .price {
        color: #97c8d6; }
    .fresh-04 #footer .submit-button.brown-bg {
      background-color: #97c8d6; }
  .fresh-04 #back-to-top img {
    background-color: #97c8d6; }

/*# sourceMappingURL=fresh-04.css.map */
