<div class="grid-drag-handle"><div class="edit">编辑</div><div class="delete">删除</div><div class="copy">复制</div></div>
<div id="component-news" class="<%= themeId %> <%= templateId %><% if (hasMarginTop =='yes') print(' margin-top')%>">
    <% if (hasTitle == 'yes') { %>
    <div class="component-title <%= titleTheme %>"><%= componentName %></div>
    <% } %>
    <div class="component-data <% if (hasBorder =='yes') print('has-border') %>">

    </div>
</div>

