
.component-search{
    #search{
        background-color: #a78873;
        padding: 5px 10px;
        .logo {
            float: left;
            width: 110px;
            img{
                height: 30px;
            }
        }
        .search-form{
            float: left;
            width: 150px;
            position: relative;
            line-heigth: 1em;
            .search-keyword{
                height: 30px;
                border: 1px solid #8f5f3f;
                border-radius: 15px;
                width: 150px;
                padding: 0 40px 0 10px;
                font-size: 12px;
                color: #bfaa9a;
            }
            .search-submit{
                position: absolute;
                right: 5px;
                top: 0px;
                width: 30px;
                height: 30px;
                padding: 0;
                border: none;
                font-size: 0;
                background: url('./images/search_bt_bg.png') center center / 20px 20px no-repeat;
            }

        }

        .links{
            float: right;
            li{
                padding: 0 0 0 10px;
                float: left;
                img{
                    width:1.5em;
                    height:1.5em;
                }
            }
        }
    }

    &.tpl_2{
        #search{
            .search-form{
                width: 190px;
                .search-keyword{
                    width: 190px;
                }
            }
        }
    }

    &.theme-2{
        #search{
            .search-form{
                .search-keyword{
                    border-radius: 5px;
                }
            }
        }
    }
    &.theme-3{
        #search{
            .search-form{
                .search-keyword{
                    border-radius: 0px;
                }
            }
        }
    }

    &.tpl_4{
        #search{
            .links{
                li{
                    padding: 0;
                    a{
                        font-size: 14px;
                        line-height: 30px;
                        color: #fff;
                        text-decoration: none;
                        padding-left:10px
                    }
                    img{
                        width: 30px;
                        height: 30px;
                    }
                    &:first-child {
                        a{
                            padding-right: 10px;
                            border-right: 1px solid #fff;
                        }
                    }
                }
            }
        }
    }

}






/*
*==== edit form ====
*/

.field .logo img{
    max-width: 110px;
    max-height: 30px;
}