
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
}
body, h1, h2, h3, p, dl, dd, ol, ul, th, td, form, fieldset, input, button, textarea {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-size: 100%;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: inherit;
}
fieldset, img {
  border: 0;
}
cite, em, s, i, b {
  font-style: normal;
}
input, button, textarea, select {
  font-size: 100%;
}
body, input, button, textarea, select, option {
  font-size: normal;
}
a, input, textarea {
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
li, img, label, input {
  vertical-align: middle;
}
var {
  font-style: normal;
}

ins {
  text-decoration: none;
}

body {
  font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;
  color: #3f3f3f;
  background:#f7efeb;
}

input[type="text"],input[type="password"],div,ul,li,input,a,textarea{box-sizing:border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-webkit-appearance:none;}
input{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;}
.clearfix:after{clear:both;content: "";display:block;font-size:0;height:0;overflow:hidden;visibility:hidden;}

.clearfix { zoom: 1; }/* for IE6 IE7 */

a:link,
a:visited{
  text-decoration: none;
  color: #3f3f3f;
}

/* a:active,
a:hover{
  color: #3f3f3f;
} */

.sunn-wrapper{
 width: 100%;
}
